.m-1 {
  margin: 1rem;
}
.my-1 {
  margin: 1rem 0;
}
.p-1 {
  padding: 1rem;
}
.py-1 {
  padding: 1rem 0;
}
.m-2 {
  margin: 2rem;
}
.my-2 {
  margin: 2rem 0;
}
.p-2 {
  padding: 2rem;
}
.py-2 {
  padding: 2rem 0;
}
.m-3 {
  margin: 3rem;
}
.my-3 {
  margin: 3rem 0;
}
.p-3 {
  padding: 3rem;
}
.py-3 {
  padding: 3rem 0;
}
.m-4 {
  margin: 4rem;
}
.my-4 {
  margin: 4rem 0;
}
.p-4 {
  padding: 4rem;
}
.py-4 {
  padding: 4rem 0;
}
.m-5 {
  margin: 5rem;
}
.my-5 {
  margin: 5rem 0;
}
.p-5 {
  padding: 5rem;
}
.py-5 {
  padding: 5rem 0;
}
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.container1 {
  max-width: 50rem;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.container2 {
  max-width: 50rem;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.text-primary {
  color: #17a2b8;
}
.round-img {
  border-radius: 50%;
}
.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}
.bg-primary {
  background-color: #17a2b8;
  color: #fff;
}
.bg-light {
  background-color: #f4f4f4;
  color: #333;
  border: #ccc 1px solid;
}
.bg-dark {
  background-color: #343a40;
  color: #fff;
}
.bg-success {
  background-color: #28a745;
  color: #fff;
}
.bg-danger {
  background-color: #dc3545;
  color: #fff;
}
.bg-white {
  background-color: #fff;
  color: #333;
  border: #ccc 1px solid;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn-1 {
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}
.btn-1:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn-1:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-1:active,
.btn-1:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-image: linear-gradient(to right bottom, #0e81ec, #4533e0);
  color: #fff;
  padding: 0.8rem 1.5rem;
}
.btn-1::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--white::after {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.btn.btn-primary {
  background-color: #17a2b8;
  color: #fff;
}
.btn.btn-primary:hover {
  background: #1ab6cf;
}
.btn.btn-dark {
  background-color: #343a40;
  color: #fff;
}
.btn.btn-dark:hover {
  background: #3f474e;
}
.btn.btn-success {
  background-color: #28a745;
  color: #fff;
}
.btn.btn-success:hover {
  background: #2dbc4e;
}
.btn.btn-danger {
  background-color: #dc3545;
  color: #fff;
}
.btn.btn-danger:hover {
  background: #e04b59;
}
.btn:hover {
  background: #626d78;
  color: #fff;
}
.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
}
.alert.alert-primary {
  background-color: #17a2b8;
  color: #fff;
}
.alert.alert-dark {
  background-color: #343a40;
  color: #fff;
}
.alert.alert-success {
  background-color: #28a745;
  color: #fff;
}
.alert.alert-danger {
  background-color: #dc3545;
  color: #fff;
}
.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: #f4f4f4;
  color: #333;
}
.badge.badge-primary {
  background-color: #17a2b8;
  color: #fff;
}
.badge.badge-dark {
  background-color: #343a40;
  color: #fff;
}
.badge.badge-success {
  background-color: #28a745;
  color: #fff;
}
.badge.badge-danger {
  background-color: #dc3545;
  color: #fff;
}
.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.table th,
.table td {
  padding: 1rem;
  text-align: left;
}
.table th {
  background: #f4f4f4;
}
.form__label {
  display: block;
  font-size: 1rem;
  color: grey;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.heading-secondary-form {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2998ff),
    to(#5643fa)
  );
  background-image: linear-gradient(to right, #2998ff, #5643fa);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.form-box {
  max-width: 35rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 4rem;
  border-radius: 5px;
}
.form-group {
  margin: 1.2rem 0;
}
.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  font-family: inherit;
  font-size: 0.8rem;
  color: #000000;
  padding: 0.9rem 1rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form input::-webkit-input-placeholder {
  color: #bbb;
}

.form group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form input[type='submit'] {
  font: inherit;
}
.form .social-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}
.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
a {
  text-decoration: none;
  color: #17a2b8;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.2) !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}
.navbar a:hover {
  color: #17a2b8;
}

.profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr 2fr;
  grid-template-columns: 2fr 4fr 2fr;
  grid-gap: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}
.profile-grid {
  display: -ms-grid;
  display: grid;
  grid-template-areas: 'top top' 'about about' 'exp edu' 'github github';
  grid-gap: 1rem;
}
.profile-grid .profile-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.profile-grid .profile-top img {
  width: 250px;
}
.profile-grid .profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}
.profile-grid .profile-top .icons a:hover {
  color: #343a40;
}
.profile-grid .profile-about {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: about;
  text-align: center;
}
.profile-grid .profile-about .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.profile-grid .profile-exp {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: exp;
}
.profile-grid .profile-edu {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: edu;
}
.profile-grid .profile-exp > div,
.profile-grid .profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}
.profile-grid .profile-exp:last-child,
.profile-grid .profile-edu:last-child {
  border: none;
}
.profile-grid .profile-exp p,
.profile-grid .profile-edu p {
  margin: 0.5rem 0;
}
.profile-grid .profile-github {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: github;
}
.profile-grid .profile-github .repo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.profile-grid .profile-github .repo > div:first-child {
  -webkit-box-flex: 7;
  -ms-flex: 7;
  flex: 7;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
}
.profile-grid .profile-github .repo > div:last-child {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}
.post-form-header {
  padding: 0.5rem;
}
.post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.post > div:first-child {
  text-align: center;
}
.post img {
  width: 150px;
}
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }
  .container {
    margin-top: 8rem;
  }
  .x-large {
    font-size: 3rem;
  }
  .large {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
  .navbar {
    display: block;
    text-align: center;
  }
  .navbar ul {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .navbar h1 {
    margin-bottom: 1rem;
  }
  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }
  .profile {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .profile ul {
    display: none;
  }
  .profile-grid {
    grid-template-areas: 'top' 'about' 'exp' 'edu' 'github';
  }
  .profile-about .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .post {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --primary-color: #2d2254;
  --secondary--color: #f5c42f;
  --text-color: #c5bbec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif !important ;
  background-image: linear-gradient(to right, #2b19cc, #164f85);
  color: #fff;
  font-size: 18px !important;
  line-height: 1.6;
}

h1,
h2,
h3,
p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  border: 0;
  background: var(--secondary--color);
  color: #fff;
  border-radius: 20px;
  padding: 8px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.btn:hover {
  transform: scale(0.98);
}

.primary-text {
  color: var(--primary-color);
}

.secondary-text {
  color: var(--secondary--color);
}

.section {
  position: relative;
  padding: 0 20px;
}

/* Section Top */
.section-top {
  min-height: 700px;
  background: linear-gradient(
      to right bottom,
      rgb(86, 67, 250, 0.3),
      rgba(32, 26, 92, 0.7)
    ),
    url('./img/evangeline-shaw-CiO3eBBxqJA-unsplash.jpg') no-repeat center
      center/cover;
}

.section-top h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-top: 10rem;
  background: rgba(0, 0, 0, 0.2) !important;
  padding: 1rem;
  border-radius: 5px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.section-top .content {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 55%;
}

/* Section Stream */
.section-stream {
  min-height: 700px;
  background: url('https://i.ibb.co/bsX6RV0/bg2.png') no-repeat center
    center/cover;
}

.section-stream h2 {
  font-size: 35px;
}

.section-stream .play {
  width: 27%;
  position: absolute;
  top: 100px;
  left: 50px;
}

.section-stream .content {
  position: absolute;
  width: 50%;
  top: 130px;
  right: 70px;
}

.section-stream .content > div,
.section-grid > div {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* Section Grid */
.section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  text-align: center;
}

.section-grid p {
  color: var(--text-color);
}

.section-grid .dot {
  font-size: 40px;
  padding-left: 2px;
}

/* Footer */
.footer {
  border-top: var(--text-color) 1px solid;
  padding: 30px;
  margin-top: 20px;
}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

/* Mobile */
@media (max-width: 700px) {
  .section-top .content,
  .section-stream .play,
  .section-stream .content {
    position: static;
    width: 100%;
  }

  .section-top {
    min-height: 40rem;
    padding-top: 20px;
  }

  .section-top .content {
    text-align: center;
  }

  .section-top .content h1 {
    font-size: 2rem;
  }

  .section-stream {
    min-height: 400px;
  }

  .section-stream .play {
    width: 50%;
    display: block;
    margin: 30px auto;
  }

  .section-grid {
    display: block;
    margin-top: 0;
  }

  .footer ul {
    display: block;
  }
}
