@import url('https://fonts.googleapis.com/css2?family=Roboto,wght@1,100&display=swap');
.m-top-big {
  margin-top: 5rem;
}
.m-top-small {
  margin-top: 1rem;
}
.bg-dark {
  background: rgba(0, 0, 0, 0.2) !important;
}
.bg-blue {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2b19cc),
    to(#164f85)
  );
  background-image: linear-gradient(to right, #2b19cc, #164f85);
}
.primary-text {
  color: #2b19cc;
}
.secondary-text {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffb900),
    to(#ff7730)
  );
  background-image: linear-gradient(to right, #ffb900, #ff7730);
  -webkit-background-clip: text;
  color: transparent;
}
.section {
  position: relative;
  padding: 0 20px;
}
.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn-1 {
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}
.btn-1:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn-1:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn-1:active,
.btn-1:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn-white:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--white {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#0e81ec),
    to(#4533e0)
  );
  background-image: linear-gradient(to right bottom, #0e81ec, #4533e0);
  color: #fff;
  padding: 0.8rem 1.5rem;
}
.btn-1::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn--white::after {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#2998ff),
    to(#5643fa)
  );
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.round-img {
  border-radius: 50%;
  border: 2px solid #f7f7f7;
}
:root {
  --primary-color: #2d2254;
  --secondary--color: #f5c42f;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f7f7f7;
  font-size: 18px;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}
h1,
h2,
h3,
p {
  margin-bottom: 10px;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
.logo {
  width: 50%;
  margin-top: 0.8rem;
}
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f7f7f7 !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar a {
  color: #333;
  padding: 0.45rem;
  margin: 0 0.25rem;
}
.navbar a:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffb900),
    to(#ff7730)
  );
  background-image: linear-gradient(to right, #ffb900, #ff7730);
  -webkit-background-clip: text;
  color: transparent;
}
.section-top {
  min-height: 700px;
  background: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(rgba(86, 67, 250, 0.3)),
      to(rgba(32, 26, 92, 0.7))
    ),
    url('./img/evangeline-shaw-CiO3eBBxqJA-unsplash.jpg') no-repeat center
      center/cover;
  background: linear-gradient(
      to right bottom,
      rgba(86, 67, 250, 0.3),
      rgba(32, 26, 92, 0.7)
    ),
    url('./img/evangeline-shaw-CiO3eBBxqJA-unsplash.jpg') no-repeat center
      center/cover;
}
.section-top h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 10rem;
  background: rgba(0, 0, 0, 0.2) !important;
  padding: 1rem;
  border-radius: 5px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.section-top .content {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 55%;
}
.ind {
  background: rgba(0, 0, 0, 0.2) !important;
  padding-bottom: -2rem;
}
.ind a {
  color: #fff;
}
.section-stream {
  min-height: 700px;
}
.section-stream h2 {
  font-size: 35px;
}
.section-stream .lang {
  width: 27%;
  position: absolute;
  top: 9rem;
  left: 50px;
}
.section-stream .content {
  position: absolute;
  width: 50%;
  top: 130px;
  right: 70px;
}
.section-stream .content > div,
.section-grid > div {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.section-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  text-align: center;
}
.section-grid p {
  color: var(--text-color);
}
.section-grid .dot {
  font-size: 40px;
  padding-left: 2px;
}
.footer {
  border-top: #c5bbec 1px solid;
  padding: 30px;
  margin-top: 20px;
}
.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
}
@media (max-width: 700px) {
  .section-top .content,
  .section-stream .lang,
  .section-stream .content {
    position: static;
    width: 100%;
  }
  .section-top {
    min-height: 50rem;
    padding-top: 5px;
  }
  .section-top a {
    margin-top: 7rem;
    width: 60%;
  }
  .section-top .content {
    text-align: center;
  }
  .section-top .content h1 {
    margin-top: 23rem;
    font-size: 2rem;
  }
  .section-stream {
    min-height: 400px;
  }
  .section-stream .play {
    width: 100%;
    display: block;
    margin: 30px auto;
  }
  .section-grid {
    display: block;
    margin-top: 0;
  }
  .footer ul {
    display: block;
  }
}
.container {
  max-width: 100%;
  color: #fff;
  overflow: hidden;
  margin-top: 6rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.container-profile {
  max-width: 61rem;
  color: #fff;
  overflow: hidden;
  margin-top: 6rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.container-dash {
  max-width: 1100px;
  color: #333;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.container1 {
  max-width: 50rem;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.container3 {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  margin-top: 6rem;
  margin-bottom: 3rem;
  color: #333;
}
.form-box {
  max-width: 35rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 3rem 3rem;
  border-radius: 5px;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.form-box-1 {
  max-width: 60rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 3rem 3rem;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.form-box-login {
  max-width: 35rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 3rem 4rem;
  border-radius: 5px;
  margin-top: 4rem;
  margin-bottom: 8rem;
}
.form-group {
  margin: 1.2rem 0;
}
.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  font-family: inherit;
  font-size: 0.8rem;
  color: #333;
  padding: 0.9rem 1rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form input::-webkit-input-placeholder {
  color: #bbb;
}
.form group:not(:last-child) {
  margin-bottom: 2.5rem;
}
.form__label {
  display: block;
  font-size: 1rem;
  color: #979292;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.heading-secondary-form {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2998ff),
    to(#5643fa)
  );
  background-image: linear-gradient(to right, #2998ff, #5643fa);
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1.3;
  display: inline-block;
}
.lead {
  font-size: 0.8rem;
  font-weight: 700;
  color: #979292;
}
.gravtar-link {
  font-weight: 700;
  font-size: 0.8rem;
  color: #4949d6;
  text-decoration: underline;
}
.blue-bg {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2b19cc),
    to(#164f85)
  );
  background-image: linear-gradient(to right, #2b19cc, #164f85);
}
h1,
h2,
h3,
p {
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}
.btn {
  display: inline-block;
  border: 0;
  background: var(--secondary--color);
  color: #fff;
  border-radius: 20px;
  padding: 8px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}
.profile {
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr 2fr;
  grid-template-columns: 2fr 4fr 2fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.text-primary-blue {
  font-size: 2.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2998ff),
    to(#3120c7)
  );
  background-image: linear-gradient(to right, #2998ff, #3120c7);
  -webkit-background-clip: text;
  color: transparent;
}
.profile-grid {
  display: -ms-grid;
  display: grid;
  grid-template-areas: 'top top' 'about about' 'exp edu' 'github github';
  grid-gap: 1rem;
}
.profile-grid .profile-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.profile-grid .profile-top img {
  width: 250px;
}
.profile-grid .profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}
.bg-light {
  background-color: #f4f4f4;
  color: #333;
  border: #ccc 1px solid;
}
.bg-dark {
  background-color: #343a40;
  color: #fff;
}
.profile-grid {
  display: -ms-grid;
  display: grid;
  grid-template-areas: 'top top' 'about about' 'exp edu' 'github github';
  grid-gap: 1rem;
}
.profile-grid .profile-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 10%;
}
.profile-grid .profile-top img {
  width: 250px;
}
.profile-grid .profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}
.profile-grid .profile-about {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: about;
  text-align: center;
}
.profile-grid .profile-about .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.profile-grid .profile-exp {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: exp;
}
.profile-grid .profile-edu {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: edu;
}
.profile-grid .profile-exp > div,
.profile-grid .profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}
.profile-grid .profile-exp:last-child,
.profile-grid .profile-edu:last-child {
  border: none;
}
.profile-grid .profile-exp p,
.profile-grid .profile-edu p {
  margin: 0.5rem 0;
}
.profile-grid .profile-github {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: github;
}
.profile-grid .profile-github .repo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.profile-grid .profile-github .repo > div:first-child {
  -webkit-box-flex: 7;
  -ms-flex: 7;
  flex: 7;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
}
.profile-grid .profile-github .repo > div:last-child {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}
.profile-grid {
  display: -ms-grid;
  display: grid;
  grid-template-areas: 'top top' 'about about' 'exp edu' 'github github';
  grid-gap: 1rem;
}
.profile-grid .profile-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.profile-grid .profile-top img {
  width: 250px;
}
.profile-grid .profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}
.profile-grid .profile-top .icons a:hover {
  color: #343a40;
}
.profile-grid .profile-about {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: about;
  text-align: center;
}
.profile-grid .profile-about .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.profile-grid .profile-exp {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: exp;
}
.profile-grid .profile-edu {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: edu;
}
.profile-grid .profile-exp > div,
.profile-grid .profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}
.profile-grid .profile-exp:last-child,
.profile-grid .profile-edu:last-child {
  border: none;
}
.profile-grid .profile-exp p,
.profile-grid .profile-edu p {
  margin: 0.5rem 0;
}
.profile-grid .profile-github {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: github;
}
.profile-grid .profile-github .repo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.profile-grid .profile-github .repo > div:first-child {
  -webkit-box-flex: 7;
  -ms-flex: 7;
  flex: 7;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
}
.profile-grid .profile-github .repo > div:last-child {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}
.profile-p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: -0.1rem;
}

.profile-p1 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.table th,
.table td {
  padding: 1rem;
  text-align: left;
}
.table th {
  background: #ccc;
  color: #333;
}
.btn-dash {
  display: inline-block;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2b19cc),
    to(#1c73c5)
  );
  background-image: linear-gradient(to right, #2b19cc, #1c73c5);
  color: #fff;
  border-radius: 5px;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn.btn-danger {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffb900),
    to(#ff7730)
  );
  background-image: linear-gradient(to right, #ffb900, #ff7730);
  color: #fff;
  border-radius: 4px;
}
.text-primary-dash {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffb900),
    to(#ff7730)
  );
  background-image: linear-gradient(to right, #ffb900, #ff7730);
  -webkit-background-clip: text;
  color: transparent;
}
.heading-dash {
  margin-top: 5%;
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffb900),
    to(#ff7730)
  );
  background-image: linear-gradient(to right, #ffb900, #ff7730);
  -webkit-background-clip: text;
  color: transparent;
}
.lead-dash {
  font-size: 2.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#2998ff),
    to(#3120c7)
  );
  background-image: linear-gradient(to left, #2998ff, #3120c7);
  -webkit-background-clip: text;
  color: transparent;
}
.lead-profile {
  font-size: 1.2rem;
  color: #333;
}
.form__label-option {
  display: block;
  font-size: 1.2rem;
  color: #333;
  font-weight: 400;
  margin-bottom: 0.3rem;
}
.btn-dash-1 {
  display: inline-block;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2b19cc),
    to(#1c73c5)
  );
  background-image: linear-gradient(to right, #2b19cc, #1c73c5);
  color: #fff;
  border-radius: 5px;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.form .social-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}
.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #c00f8b;
}
.form .social-input i.fa-youtube {
  color: #c90f08;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}
.btn-dash-2 {
  display: inline-block;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2b19cc),
    to(#1c73c5)
  );
  background-image: linear-gradient(to right, #2b19cc, #1c73c5);
  color: #fff;
  border-radius: 5px;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn-dash-3 {
  display: inline-block;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2b19cc),
    to(#1c73c5)
  );
  background-image: linear-gradient(to right, #2b19cc, #1c73c5);
  color: #fff;
  border-radius: 5px;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.post {
  display: -ms-grid;
  display: grid;
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid #ccc;
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  grid-gap: 4rem;
  padding: 1rem;
  margin-top: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f7f7;
}
.post h4 {
  color: #4b74e6;
}
.post > div:first-child {
  text-align: center;
}
.post img {
  width: 150px;
}
.form-box-3 {
  max-width: 65rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 3rem 3rem;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.btn-light {
  display: inline-block;
  border: 0;
  cursor: pointer;
  color: #333;
  background: #ece8e8;
  border-radius: 20px;
  padding: 8px 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  margin-top: 10px;
}
.post-form-header {
  color: #ccc;
}
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }
  .container1 {
    width: 100%;
    padding: 1rem;
    margin-top: 8rem;
  }
  .text-primary-blue {
    font-size: 1.5rem;
    text-align: center;
  }
  .x-large {
    font-size: 3rem;
  }
  .large {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
  .navbar {
    display: block;
    padding: 0.4rem 0rem;
    text-align: center;
  }
  .navbar ul {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 4.5rem;
  }
  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }
  .profile {
    width: 90%;
    margin-bottom: 2rem;
    padding: 0.5rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .profile ul {
    display: none;
  }
  /* .profile-grid {
    grid-template-areas: 'top' 'about' 'exp' 'edu' 'github';
  } */
  .profile-about .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .post {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
  .ind {
    padding: 0.4rem 0rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.6) !important;
  }
  .ind ul {
    margin-left: -0.5rem;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 1rem;
  }

  .profile img {
    width: 190px;
    margin: auto;
  }
  .table th {
    margin: auto;
  }
  .profile p {
    font-size: 0.9rem;
  }
  .lead-dash {
    font-size: 1.5rem;
    text-align: center;
  }
  .text-primary-dash {
    font-size: 2rem;
    text-align: center;
  }
  .heading-dash {
    font-size: 1.5rem;
    text-align: center;
  }
  .container1 input {
    width: 100%;
  }
}
.my-1 {
  margin-left: 1rem;
}

.post-date {
  font-size: 0.7rem;
  color: rgb(78, 77, 77);
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999999;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.5rem 10rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--danger {
  background-color: #eb4d4b;
}

/* profile */
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}

.profile-body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: #f7f7f7;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.profile-container {
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}
@media only screen and (max-width: 700px) {
  .profile-container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.profile-content {
  max-width: 100%;

  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-user img {
  margin-top: 5rem;
  width: 150px;
  border: 2px solid #eb2f64;
  border-radius: 50%;
}

.overview-name {
  color: #eb2f64;
}

.sidebar h1 {
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
}

.sidebar h3 {
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
  color: #f7f7f7;
}

.sidebar p {
  font-size: 1.2rem;
  color: #ccc;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: var(--line);
}
@media only screen and (max-width: 56.25em) {
  .detail {
    padding: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .detail {
    flex-direction: column;
  }
}

.description {
  background-color: #fff;
  box-shadow: var(--shadow-dark);
  padding: 1rem;
  flex: 0 0 50%;
  margin-right: 0.5rem;
}
.description h2 {
  font-size: 1.4rem;
  color: #eb2f64;
}

.description-details {
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px dotted #ccc;
}
.description-details p {
  font-size: 1rem;
}
.description-details h3 {
  font-size: 1rem;
  color: #333;
}

.description-details strong {
  font-size: 1rem;
  color: #333;
}

.date {
  font-size: 1rem;
  color: #ccc;
}

.user__info {
  margin-top: 2rem;
  background-color: #fff;
  box-shadow: var(--shadow-dark);
  padding: 1rem;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 100%;
}

.user__info h1 {
  color: #eb2f64;
  margin-bottom: 1rem;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
}

.user__info p {
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
}

.p-1 {
  padding: 1rem;
}

.skills {
  margin-top: -1.5rem;
  color: #333;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 56.25em) {
  .description {
    padding: 2rem;
    margin-right: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .description {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-nav {
  font-size: 1rem;
  list-style: none;
  margin-top: 1.5rem;
}
.side-nav span {
  font-size: 0.8rem;
  margin-left: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .side-nav {
    display: flex;
    margin: 0;
  }
}
.side-nav__item {
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 56.25em) {
  .side-nav__item:not(:last-child) {
    margin: 0;
  }
}
@media only screen and (max-width: 56.25em) {
  .side-nav__item {
    flex: 1;
  }
}
.side-nav__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s;
}
.side-nav__item:hover::before,
.side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__item:active::before {
  background-color: var(--color-primary-light);
}
.side-nav__link:link,
.side-nav__link:visited {
  color: var(--color-grey-light-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1rem 2rem;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .side-nav__link:link,
  .side-nav__link:visited {
    justify-content: center;
    padding: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .side-nav__link:link,
  .side-nav__link:visited {
    flex-direction: column;
    padding: 1.5rem 0.5rem;
  }
}
.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: currentColor;
}
@media only screen and (max-width: 37.5em) {
  .side-nav__icon {
    margin-right: 0;
    margin-bottom: 0.7rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.legal {
  font-size: 0.6rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}
@media only screen and (max-width: 56.25em) {
  .legal {
    display: none;
  }
}
.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);
  justify-content: space-between;
}

.overview h1 {
  color: #333;
  margin-top: 1rem;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}

.overview__heading {
  font-size: 1.8rem;
  font-weight: 300;
  padding: 0.5rem 1.5rem;
}
@media only screen and (max-width: 37.5em) {
  .overview__heading {
    font-size: 1rem;
    padding: 1.25rem 2rem;
  }
}
.overview__rating {
  background-color: var(--color-primary);
  color: #fff;
  margin-left: 1rem;
  padding: 0 1.25rem;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overview__rating i {
  font-size: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .overview__rating {
    padding: 0 1.5rem;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.review__user-date {
  font-size: 1rem;
  color: var(--color-grey-dark-3);
}
.review__rating {
  color: var(--color-primary);
  font-size: 2.2rem;
  font-weight: 300;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

.paragraph {
  font-size: 1rem;
}

@media only screen and (max-width: 700px) {
  .hide-sm {
    visibility: hidden;
  }
  .side-nav {
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
    align-content: space-evenly;
  }
}

@media only screen and (max-width: 700px) {
  .profile-content {
    flex-direction: column !important;
  }

  .skills {
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    flex-wrap: wrap;
    align-content: space-evenly;
  }
  .detail {
    padding: 0.5rem;
  }
  .profile-content {
    margin-top: 2rem;
  }

  .overview h1 {
    color: #333;
    font-size: 1rem;
    text-align: center;
  }
  .profile {
    padding: 1rem;
  }
}
